<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
		<file>target/logs/zerocode_rest_bdd_logs.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%thread] %-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="fileAppender" />
		<appender-ref ref="consoleAppender" />
	</root>
</configuration>