<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
        <file>target/logs/sponsorship_ingestion.log</file>
        <append>true</append>
        <encoder>
            <!-- make it 100 to print full package -->
            <pattern>%d [%thread] %-5level %logger{30} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %-5level %logger{30} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Update level to DEBUG or INFO to get more detailed operations -->
    <root level="WARN">
        <appender-ref ref="fileAppender" />
        <appender-ref ref="consoleAppender" />
    </root>
</configuration>