name: Zerocode TDD CI Build In Action

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setting up JDK21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Install Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose
          
      - name: Running Kafka
        run: docker-compose -f docker/compose/kafka-schema-registry.yml up -d && sleep 10

      - name: Running PostgreSQL (to test DB SQL Executor)
        run: docker-compose -f docker/compose/pg_compose.yml up -d

      - name: Building and testing the changes
        run: mvn clean test
